
.buttonContainer{
    width: 100%;
    .buttonContainer__button{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        outline: none;
    }
}